@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  :root {
    --primary: hsl(47, 100%, 50%);
    --secondary: hsl(148, 83%, 36%);
    
    --background: hsl(0, 0%, 100%);
    --foreground: hsl(0, 0%, 0%);
    --border: #f24e1e;
  }

  /* Carousel Custom CSS */
  .carousel-container {
    cursor: pointer;
  }

  .react-multi-carousel-item:hover .button-carousel {
    opacity: 100;
  }

  /* @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  } */
  
}


